In [1]:
import pandas as pd
import numpy as np
from PIL import Image

In [2]:
image = Image.open('angry/im0.png')
pixels = list(image.getdata())

In [3]:
emotion_dict = {'angry': (0, 3995), 'disgusted': (1, 436) , 'fearful': (2, 4097) , 'happy': (3, 7215), 'neutral': (4, 4965), 'sad': (5, 4830), 'surprised': (6, 3171)}

In [16]:
emotion_df = pd.DataFrame(columns=['emotion', 'pixels'])

In [18]:
idx = 0
for emot in emotion_dict.keys():
    for file_no in range(emotion_dict[emot][1]):
        file_path = emot+'/im'+str(file_no)+'.png'
        image = Image.open(file_path)
        pixels = list(image.getdata())
        emotion = emotion_dict[emot][0]
        emotion_df.loc[idx] = [emotion, pixels]
        idx+=1

In [19]:
emotion_df.to_csv('train_emotions.csv', index=False)

In [20]:
emotion_df

      emotion                                             pixels
0           0  [70, 80, 82, 72, 58, 58, 60, 63, 54, 58, 60, 4...
1           0  [151, 150, 147, 155, 148, 133, 111, 140, 170, ...
2           0  [30, 24, 21, 23, 25, 25, 49, 67, 84, 103, 120,...
3           0  [123, 125, 124, 142, 209, 226, 234, 236, 231, ...
4           0  [8, 9, 14, 21, 26, 32, 37, 46, 52, 62, 72, 70,...
...       ...                                                ...
28704       6  [196, 67, 49, 33, 32, 28, 29, 38, 50, 43, 38, ...
28705       6  [187, 180, 187, 190, 177, 167, 185, 184, 178, ...
28706       6  [255, 200, 161, 104, 85, 49, 42, 42, 41, 43, 4...
28707       6  [143, 146, 147, 153, 134, 48, 48, 62, 47, 39, ...
28708       6  [255, 255, 255, 255, 255, 255, 255, 203, 145, ...

[28709 rows x 2 columns]

In [22]:
emotion_df = emotion_df.sample(frac=1, random_state=9).reset_index()
emotion_df.drop(['index'], axis=1, inplace=True)
emotion_df

       level_0 emotion                                             pixels
0        11057       6  [196, 114, 51, 55, 35, 30, 35, 21, 31, 32, 43,...
1        15336       0  [160, 158, 160, 163, 163, 161, 163, 162, 161, ...
2         6112       3  [232, 232, 231, 230, 231, 230, 229, 229, 228, ...
3         5307       3  [149, 149, 152, 147, 150, 159, 164, 156, 150, ...
4        25492       1  [30, 32, 43, 35, 41, 40, 27, 17, 21, 25, 20, 1...
...        ...     ...                                                ...
28704    22584       3  [35, 34, 36, 52, 58, 43, 43, 45, 47, 48, 48, 4...
28705      501       0  [158, 161, 84, 3, 8, 3, 2, 0, 1, 1, 0, 1, 0, 0...
28706    23166       6  [36, 53, 50, 34, 40, 46, 55, 64, 64, 77, 71, 5...
28707    20828       3  [26, 27, 27, 29, 20, 42, 60, 60, 87, 102, 112,...
28708    24958       4  [109, 97, 125, 135, 148, 168, 149, 149, 180, 1...

[28709 rows x 3 columns]

In [24]:
emotion_df.drop(['level_0'], axis=1, inplace=True)

In [26]:
emotion_df.to_csv('train_emotions.csv', index=False)